@{
    Layout = null;
}
@model CheckTable
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/css/Finshed.css" rel="stylesheet">

    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet">
    <title>设备巡检详情</title>
</head>

<body>

    <header>

        <nav class=" fixed-top bg-white">

            <div class=" head_title  text-center">
            </div>
        </nav>
    </header>

    <div class="info">
        <div class="head_search">
            <form>
                <div class="input-group input-group-sm ">
                    <input type="text" class=" form-control font_style bg-light input_s " placeholder="基础信息" readonly>
                </div>
            </form>
        </div>
        <p>单据编号<span>@Model.CreatNumber</span></p>
        <p>设备名称<span>@Model.EquName</span></p>
        <p>检测类别<span>@Model.CheckStatus</span></p>
        <p>检测周期<span>@Model.CheckCyc</span></p>
        <p>巡检人员<span>@Model.WorkerName</span></p>
        <p>巡检时间<span>@Model.CheckStartTime</span></p>
    </div>

    <div class="info_check">
        <div class="head_search">
            <form>
                <div class="input-group input-group-sm ">
                    <input type="text" class=" form-control font_style bg-light input_s " placeholder="检测部位" readonly>
                </div>
            </form>
        </div>

        <textarea class="info_area" readonly>&nbsp&nbsp @Model.CheckAreas </textarea>
    </div>

    <div class="info_check">
        <div class="head_search">
            <form>
                <div class="input-group input-group-sm ">
                    <input type="text" class=" form-control font_style bg-light input_s " placeholder="检测结果" readonly>
                </div>
            </form>
        </div>

        <textarea class="info_result" readonly>&nbsp&nbsp @Model.CheckResult </textarea>
    </div>
    <div class="info_check">
        <div class="head_search">
            <form>
                <div class="input-group input-group-sm ">
                    <input type="text" class=" form-control font_style bg-light input_s " placeholder="备注" readonly>
                </div>
            </form>
        </div>

        <textarea class="info_note" readonly>&nbsp&nbsp @Model.Note</textarea>
    </div>

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script> -->
</body>
</html>